<h2>All Superpowers</h2>


<%= form_tag superhero_path, :method =>  'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag("Search") %>
<% end %>


<ul>
  <% @superpowers.each do |superpower| %>
 	
 	<li><a href="/superpowers/<%= superpower.id %>"><%= superpower.name%></a>
    </li>

    <li>
      <%= @superpower %>
      <br>
      Description: <%= superpower.name + '' + superpower.description %>
    </li>

   
    <br>
  <% end %>
</ul>

<%= link_to 'Superpower List', superhero_path(@superpower_id) %> 
<%= link_to 'Back to Superhero List', superhero_path %>
