<%= form_for(superhero) do |f| %>
  <% if superhero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(superhero.errors.count, "error") %> prohibited this superhero from being saved:</h2>

      <ul>
      <% superhero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <ul>

      <br>
      <br>
    <%= f.label  'Superhero Name' %>
    <%= f.text_field :name  %>

      <br>
      <br>

    <%= f.label 'Super Name' %>
    <%= f.text_field :name %>

      <br>
      <br>


    <%= f.label "Super Power Type" %>
    <%= f.select(:superpower_type, options_for_select([['super strength', 'super strength' ] , ['flight', 'flight'] , ['super human senses' , 'super human senses'],  ['elasticity' , 'elasticity']])) %>

      <br>
      <br>

  </ul>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

