
   <h1> Superhero Bio Page </h1>      
<!-- <p>Find this file in app/views/home/main.html.erb</p>   -->




<p id="notice"><%= notice %></p>



<p>
	
	
  <h1>Super Name:</h1>

  <h2><%= @superhero.name %></h2>
 
 <br>
 <br>

  <h1>Superhero Civilian Name:</h1>
  
 <br>
 <br>


 <h2> <%= @superhero.super_name %> </h2>

 <br>
 <br>

 <h1>Superhero Powers:</h1>

  <br>
  <br>

 <h2><%= @superpower_id %></h2>


  <br>
  <br>

  <!-- Just testing out above line -->

</p>


<%= link_to 'Edit', superhero_path(@superheroes) %> 
<%= link_to 'Back to Superhero List', superpower_path %>
